nav {
  background-color: rgb(53, 49, 49);
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  margin: 0 20px;
  color: white;
}

.nav-link:hover {
  color: burlywood;
}

nav .active {
  color: green;
}